body {
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
}
.header {
  position: relative;
  width: 1600px;
  height: 80px;
  background-color: #D0D0D0;
}
.menu {
  position: absolute;
  margin-left: 801px;
  bottom: 26px;
  width: 698px;
  height: 23px;
  font-family: "Open Sans";
  font-size: 11;
}
.menu .home, .menu .features, .menu .about-us, .menu .portfolio, .menu .servise, .menu .contact-us, .menu .search  {
  float: left;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 11px;
  letter-spacing: 3.4px;
  line-height: 19px;
  text-align: center;
  margin-left: 25px;
}
.menu a {
  color: #FFFFFF;
  text-decoration: none;
}
.menu a:hover {
  color: grey;
  transition: 1s;
}
.feederlogo {
  position: absolute;
  margin-left: 100px;
  bottom: 27px;
}
.welcome-banner {
  position: relative;
  width: 1600px;
  height: 900px;
  background-color: #D0D0D0;
}
.welcome-banner .text {
  position: relative;
  top: 351px;
  margin-left: 524px;
  height: 203px;
  width: 552px;
}
.feeder-is-here {
  position: absolute;
  margin-left: 209px; 
  top: 0.5px;
  height: 24px;
  width: 134px;
  color: #FFFFFF;
  font-family: "Raleway";
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 3.4px;
  line-height: 24px;
  text-align: center;
}
.free-sketch-3-one-pag {
  position: absolute;
  margin-left: 0.5px;  
  top: 38.5px;
  height: 116px;
  width: 551px;
  color: #FFFFFF;
  font-family: "Open Sans Light";
  font-size: 40px;
  line-height: 58px;
  text-align: center;
}
.well-the-way-they-m {
  position: absolute;
  margin-left: 79.5px;
  top: 182.5px;
  height: 20px;
  width: 396px;
  color: #FFFFFF;
  font-family: "Open Sans Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;  
}
.arrow-down {
  position: absolute;
  top: 808px;
  margin-left: 777.5px;
}
.arrow-down:hover {
  cursor: pointer;
}
.about-us.bg {
  position: relative;
  height: 371px;
  width: 1600px;
  background-color: #FFFFFF;
}
.about-us .text {
  position: relative;
  top: 73px;
  margin-left: 349px;
  margin-right: 349px;
  height: 204px;
  width: 902px;
}
.about-feeder {
  position: absolute;
  top: 0.5px;
  margin-left: 353px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 300;
  line-height: 44px;
  text-align: center;  
}
.about-us .text .mauris-lacinia-porta {
  position: relative;
  top: 83.5px;
  margin-left: 0.72px; 
  height: 120px;
  width: 900.57px;
  color: #777777;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;  
}
.introduction.bg {
  position: relative;
  height: 685px;
  width: 1600px;
  background-color: #F5F5F5;
}
.img.mask {
  position: absolute;
  top: 0;
  float: left;
  height: 685px;
  width: 800px;
  background-color: #D8D8D8;
}
.introduction .text {
  position: absolute;
  top: 140px;
  margin-left: 878px;
  height: 405px;
  width: 493px;
}
.why-to-choose-feeder {
  position: absolute;
  top: 0.5px;
  margin-left: 2px;
  margin-right: 170px;
  height: 44px;
  width: 350px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 32px;
  line-height: 44px;
}
.lorem-ipsum-dolor-si {
  position: absolute;
  top: 84.5px;
  margin-left: 0.72px;
  height: 320px;
  width: 510.28px;
  color: #777777;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;  
}
.portfolio.bg {
  position: absolute;
  height: 1193px;
  width: 1600px;
}
.portfolio .text {
  position: absolute;
  top: 87px;
  margin-left: 349px;
  height: 114px;
  width: 902px;
}
.text .portfolio {
  position: absolute;
  top: 0.5px;
  margin-left: 389.5px;
  height: 44px;
  width: 123px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 300;
  line-height: 44px;
  text-align: center;
}
.portfolio .text .mauris-lacinia-porta {
  position: absolute;
  top: 83.5px;
  margin-left: 0.72px;
  height: 30px;
  width: 900.57px;
  color: #777777;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.filter {
  position: absolute;
  top: 256px;
  margin-left: 502px;
  height: 21px;
  width: 607px;
  text-align: center;
}
.all, .design, .identity, .photography {
  float: left;
  color: #3498DB;
  font-family: Raleway;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 3.4px;
  line-height: 11px;
  text-align: center;
  margin-right: 52px;
}
.web-design {
  float: left;
  color: #3498DB;
  font-family: Raleway;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 3.4px;
  line-height: 11px;
  text-align: center;
}
.filter a {
  color: #3498DB;
  text-decoration: none;
}
.filter a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #3498DB;
}
.gallery {
  position: absolute;
  margin-top: 337px;
  height: 801px;
  width: 1600px;
}
.item-01 {
  height: 400px;
  width: 400px;
  background-color: #AFAFAF;
}
.item-02 {
  position: absolute;
  top: 0;
  margin-left: 400px;
  height: 500px;
  width: 400px;
  background-color: #D0D0D0;
}
.item-03 {
  position: absolute;
  top: 500px;
  margin-left: 400px;
  height: 300px;
  width: 400px;
  background-color: #AFAFAF;
}
.item-04 {
  position: absolute;
  top: 0;
  margin-left: 800px;
  height: 300px;
  width: 400px;
  background-color: #A4A4A4;
}
.item-05 {
  position: absolute;
  top: 0;
  margin-left: 1200px;
  height: 400px;
  width: 400px;
  background-color: #D0D0D0;
}
.item-06 {
  position: absolute;
  top: 400px;
  height: 400px;
  width: 400px;
  background-color: #A4A4A4;
}
.item-07 {
  position: absolute;
  top: 300px;
  margin-left: 800px;
  height: 500px;
  width: 400px;
  background-color: #AFAFAF;
}
.item-08 {
  position: absolute;
  top: 400px;
  margin-left: 1200px;
  height: 400px;
  width: 400px;
  background-color: #A4A4A4;
}
.hover-mask {
  height: 455px;
  width: 365px;
}
.rectangle-26 {
  position: absolute;
  top: 23px;
  margin-left: 418.67px;
  height: 454px;
  width: 363.56px;
  background-color: rgba(63,80,98,0.9);
}
.pinecone {
  position: absolute;
  top: 183px;
  margin-left: 113.77px;
  height: 21px;
  width: 136px;
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 5.56px;
  line-height: 21px;
  text-align: center;
}
.print-photography {
  position: absolute;
  top: 220px;
  margin-left: 102.77px;
  height: 30px;
  width: 158px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.rectangle-84 {
  position: absolute;
  top: 270px;
  margin-left: 136.77px;
  height: 1px;
  width: 90px;
  background-color: #FFFFFF;
}